<div class="container movie-detail"> 
    <div class="movie-nav">
            <i class="fa fa-home" aria-hidden="true"></i> 
            <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
            <span><a href=""><%- moviedetail.Name %></a></span>
    </div>

    <div class="heading-section">
        <h1>MOVIE DETAIL</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div id="movie-img-section">
                <div class="movie-img">
                      <img src="<%= moviedetail.PosterImage %>" />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="movie-dtl">
                <div class="movie-info">
                    <div class="movie-name">
                        <h2><%- moviedetail.Name %></h2>
                    </div>
                    <div class="movie-detali-section" >
                        <ul class="movie-detali-list">
                            <li><span>Director: </span>Kim Joo Hwan </li>
                            <li><span>Cast: </span>Park Seo Joon, Ahn Sung Ki, Woo Do Hwan, Choi Woo Sik…</li>
                            <li><span>Genre: </span>Action, Horror</li>
                            <li><span>Release date: </span><%- ReleaseDate %></li>
                            <li><span>Time: </span><%- moviedetail.Time %></li>
                            <li><span>Language: </span>Korean with Vietnamese subtitles</li>
                            <li><span>Rated: C18 - NO CHILDREN UNDER 18 YEARS OLD</span></li>
                            <li><span>Description: </span><%- moviedetail.Introduce %></li>
                        </ul>
                    </div>
                </div>
      
                <div class="row">
                    <div class="movie-button col-md6">
                        <a href="#small-dialog1" class="round-black-btn watch popup-with-zoom-anim play-view1">Watch Trailer</a>
                    </div>
                    <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                        <iframe src="<%= moviedetail.Trailer %>" allow="autoplay; fullscreen"
                            allowfullscreen=""></iframe>
                    </div>
                    <div class="movie-button col-md6">
                        <a href="/booking?id=<%- moviedetail.id %>" class="round-black-btn order_btn">Buy Ticket</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <hr>
</div>
