<!-- main-slider -->
<section class="w3l-main-slider position-relative" id="home">
	<div class="companies20-content">
		<div class="owl-one owl-carousel owl-theme">
			<div class="item">
				<li>
					<div class="slider-info banner-view bg bg2">
						<div class="banner-info">
							<h3>Avengers: Endgame</h3>
							<p>After Thanos, an intergalactic warlord, disintegrates half of the universe, the Avengers
								must reunite and assemble again to reinvigorate their trounced allies and restore
								balance.</p>
							<a href="#small-dialog-banner1" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog-banner1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner2 bg bg2">
						<div class="banner-info">
							<h3>Soul</h3>
							<p>A jazz musician, stuck in a mediocre job, finally gets his big break. However, when a
								wrong step takes him to the Great Before, he tries to help an infant soul in order to
								return to reality.</p>
							<a href="#small-dialog-banner2" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog-banner2" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/397179438" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner3 bg bg2">
						<div class="banner-info">
							<h3>Tenet</h3>
							<p>When a few objects that can be manipulated and used as weapons in the future fall into
								the wrong hands, a CIA operative, known as the Protagonist, must save the world.</p>
							<a href="#small-dialog-banner3" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog-banner3" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/422429559" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner4 bg bg2">
						<div class="banner-info">
							<h3>Raya and the Last Dragon</h3>
							<p>Raya, a warrior, sets out to track down Sisu, a dragon, who transferred all her powers
								into a magical gem which is now scattered all over the kingdom of Kumandra, dividing its
								people.</p>
							<a href="#small-dialog-banner4" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog-banner4" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/504841545" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info banner-view banner5 bg bg2">
						<div class="banner-info">
							<h3>Godzilla vs. Kong</h3>
							<p>King Kong is transported out of his containment zone after Godzilla resurfaces and
								creates mayhem. Humans need his help to reach Hollow Earth and find a way to subdue the
								king of the monsters.</p>
							<a href="#small-dialog-banner5" class="popup-with-zoom-anim play-view1">
								<span class="video-play-icon">
									<span class="fa fa-play"></span>
								</span>
								<h6>Watch Trailer</h6>
							</a>
							<div id="small-dialog-banner5" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/504151568" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
						</div>
					</div>
				</li>
			</div>
		</div>
	</div>
</section>
<!-- //banner-slider-->
<!-- main-slider -->
<!--grids-sec1-->
<section class="w3l-grids">
	<div class="grids-main py-5">
		<div class="container py-lg-3">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny">
						<h3 class="hny-title">Popular Movies</h3>
					</div>
				</div>
			</div>
			<div class="w3l-populohny-grids">
				<% var id=1; for(var item of topMovies){ %>
					<div class="item vhny-grid">
						<div class="box16">
							<a href="#small-dialog-popular<%- id %>" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="<%= item.PosterImage %>" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog-popular<%- id %>" class="zoom-anim-dialog mfp-hide">
								<iframe src="<%= item.Trailer %>" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title">
									<%= item.Name %>
								</h3>
								<div class="post">
									<button type="button" class="btn btn-1"
										onclick="window.location.href='/movie/detail?id=<%= item.id %>'">See
										Detail</button>
									<button type="button" class="btn btn-1"
										onclick="window.location.href='/booking?id=<%= item.id %>'">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<% id++; } %>

			</div>
		</div>
	</div>
</section>
<!--//grids-sec1-->
<!--grids-sec2-->
<section class="w3l-grids">
	<div class="grids-main py-5-2">
		<div class="container py-lg-3">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny">
						<h3 class="hny-title">Coming Soon</h3>
					</div>
				</div>
			</div>
			<div class="owl-three owl-carousel owl-theme">
				<% var id=1; for(var item of upComingMovies){ %>
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog-now<%- id %>" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="<%= item.PosterImage %>" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog-now<%- id %>" class="zoom-anim-dialog mfp-hide">
								<iframe src="<%= item.Trailer %>" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content now">
								<h3 class="title now-showing">
									<%= item.Name %>
								</h3>
								<div class="post">
									<button type="button" class="btn btn-2"
										onclick="window.location.href='/movie/detail?id=<%= item.id %>'">See
										Detail</button>
									<button type="button" class="btn btn-2"
										onclick="window.location.href='/booking?id=<%= item.id %>'">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<% id++; } %>

			</div>
		</div>
	</div>
</section>
<!--grids-sec2-->
<!--mid-slider -->
<section class="w3l-mid-slider position-relative">
	<div class="companies20-content">
		<div class="owl-mid owl-carousel owl-theme">
			<div class="item">
				<li>
					<div class="slider-info mid-view bg bg2">
						<div class="container">
							<div class="mid-info">
								<h3>Avengers: Endgame</h3>
								<p>2019 ‧ Action/Sci-fi ‧ 3h 2m</p>
								<a class="watch popup-with-zoom-anim play-view1" href="#small-dialog-coming1"><span
										class="fa fa-play" aria-hidden="true"></span>
									Watch Trailer</a>
								<div id="small-dialog-coming1" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info mid-view mid2 bg bg2">
						<div class="container">
							<div class="mid-info">
								<h3>Tenet</h3>
								<p>2020 ‧ Action/Thriller ‧ 2h 30m</p>
								<a class="watch popup-with-zoom-anim play-view1" href="#small-dialog-coming2"><span
										class="fa fa-play" aria-hidden="true"></span>
									Watch Trailer</a>
								<div id="small-dialog-coming2" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/422429559" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
				</li>
			</div>
			<div class="item">
				<li>
					<div class="slider-info mid-view mid3 bg bg2">
						<div class="container">
							<div class="mid-info">
								<h3>Raya and the Last Dragon</h3>
								<p>2021 ‧ Family/Fantasy ‧ 1h 57m</p>
								<a class="watch popup-with-zoom-anim play-view1" href="#small-dialog-coming3"><span
										class="fa fa-play" aria-hidden="true"></span>
									Watch Trailer</a>
								<div id="small-dialog-coming3" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/504841545" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</div>
				</li>
			</div>

		</div>
	</div>
</section>

<!-- //mid-slider-->