
<!-- -----------Main----- -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <i class="fa fa-list" aria-hidden="true"></i>
                </span> Cinema Management
            </h3>
        </div>
        <!--------Cụm rạp------>
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Danh sách cụm rạp</h4>
                        <!--------- Bảng----- -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> # </th>
                                        <th> Tên cụm </th>                               
                                        <th> Sửa </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(MovieTheaterCluster) { %>
                                    <% MovieTheaterCluster.forEach(element=>{ %>
                                    <tr>
                                        <td>
                                            <input class="form-check-input" type="checkbox" value="" id="" onclick="chooseMovieTheaterCluster('<%-element.id%>')">
                                        </td>
                                        <td><%= element.id %></td>
                                        <td><%= element.Name %></td>                                      
                                        <td>
                                            <button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-cinema-area" onclick="popupEditMovieTheaterCluster('<%- element.id %>')">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
    
                                        </td>
                                    </tr>
                                    <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                            <!-- -------------------- -->
                                <!------- POPUP sửa cụm rạp--- -->
                                <div class="modal fade" id="edit-cinema-area" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">Sửa cụm rạp</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                        <div class="form-group">
                                            <label for="edit-cinema-area-name" class="col-form-label">Tên cụm rạp:</label>
                                            <input type="text" class="form-control" id="edit-cinema-area-name">
                                        </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-dark" onclick="UpdateMovieTheaterCluster()">Save</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <!-------------------------------->
                        </div>
                        <!-- Button cụm rạp -->
                        <div class="row">
                            <div class="col-6 grid-margin" style="margin-top: 0.5rem;">
                                <button type="button" class="btn btn-gradient-dark" data-toggle="modal" data-target="#add-cinema-area"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Thêm</button>
                                <button type="button" class="btn btn-inverse-danger " onclick="DeleteMovieTheaterCluster()"> <span><i class="fa fa-trash" aria-hidden="true"></i></span> Xoá lựa chọn</button>
                            </div>
                            
                            <!-- ---------------------- -->
                            <!------- POPUP thêm cụm rạp--- -->
                            <div class="modal fade" id="add-cinema-area" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">Thêm cụm rạp</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                        <div class="form-group">
                                            <label for="cinema-movie-theater-cluster-name" class="col-form-label">Tên cụm rạp:</label>
                                            <input type="text" class="form-control" id="cinema-movie-theater-cluster-name">
                                        </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-dark" onclick="AddNewMovieTheaterCluster()">Add</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <!-------------------------------->
                                <!-- ----------Phân trang----- -->
                                <div class="col-6 grid-margin">
                                    <ul class="pagination" style="margin-top: 1rem; float: right;">
                                        <% if(pageMTCIndex>1){ %>
                                          <li class="page-item">
                                              <a class="page-link" href="/admin/cinemaManagement?pageMTCIndex=<%-pageMTCIndex-1%>" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo;</span>
                                                  <span class="sr-only">Previous</span>
                                              </a>
                                          </li>
                                        <% } %>
        
                                        <%for (let i = 1; i <= pageMovieTheaterCluster; i++){
                                          if(i==pageMTCIndex){%>
                                            <li class="page-item"><a style="background-color: lightgray;" class="page-link" href="/admin/cinemaManagement?pageMTCIndex=<%-i%>"><%-i%></a></li>
                                          <%} else {%>
                                            <li class="page-item"><a class="page-link" href="/admin/cinemaManagement?pageMTCIndex=<%-i%>"><%-i%></a></li>
                                        <%}}%>
        
                                        <% if(pageMTCIndex < pageMovieTheaterCluster){ %>
                                        <li class="page-item">
                                            <a class="page-link" href="/admin/cinemaManagement?pageMTCIndex=<%-parseInt(pageMTCIndex) + 1%>" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                            <!-- ------------------------------------ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------Rạp------- -->
        <div class="row">
            <div class="col-md-12 grid-margin ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Danh sách rạp</h4>
                        <!-- Chọn cụm -->
                        <div class="select" style="text-align: center;">
                            <select class="custom-select" id="cb-cinema-location-1" onchange="changeLocation('1')">
                                <option value="all" id="location_0-1">Chọn cụm rạp</option>
                                <% for(var item of Locations){ %>                        
                                    <option value="<%- item.id %>" id="location_<%-item.id%>-1"><%- item.Name %></option>
                                <%}%>
                                </select>
                        </div>
                        
                            <!-- ----------- -->
                            <!-- Bảng -->
                        <div class="table-responsive">
                            <table class="table" id="tableMovieTheater">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> # </th>
                                        <th> Tên rạp </th>
                                        <th> Địa chỉ </th>
                                        <th> Loại rạp</th>
                                        <th> Sửa </th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                </tbody>
                            </table>
                            <!------- POPUP sửa rạp--- -->
                            <div class="modal fade" id="edit-cinema" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">Sửa rạp phim</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                              <label for="edit-movietheater-name" class="col-form-label">Tên rạp:</label>
                                              <input type="text" class="form-control" id="edit-movietheater-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-movietheater-address" class="col-form-label">Địa chỉ:</label>
                                                <input type="text" class="form-control" id="edit-movietheater-address">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-movietheater-image-poster" class="col-form-label">Image:</label><br>
                                                <img class="poster" id="edit-movietheater-image" alt="Image">
                                                <input type="file" class="form-control" id="edit-movietheater-image-i" accept="image/png, image/jpg, image/jpeg">                  
                                            </div>
                                            <div class="form-group">
                                                <label for="add-cb-cinema-4" class="col-form-label">Loại:</label>
                                                <select class="custom-select" style="width: 100%;" id="add-cb-cinema-4">
                                                  <option value="2D">2D</option>
                                                  <option value="3D">3D</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-movietheater-width" class="col-form-label">Chiều dài:</label>
                                                <input type="text" class="form-control" id="edit-movietheater-width">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-movietheater-height" class="col-form-label">Chiều rộng:</label>
                                                <input type="text" class="form-control" id="edit-movietheater-height">
                                            </div>
                                            
                                          </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-dark" onclick="UpdateMovieTheater()" >Save</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <!-------------------------------->
                        </div>
                        <!-- -------------------------- -->
                        <div class="row">
                            <div class="col-6 grid-margin" style="margin-top: 0.5rem;" id="btnAddandDelete">
                                
                            </div>
                                <!------- POPUP thêm rạp--- -->
                                <div class="modal fade" id="add-cinema" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">Thêm rạp phim</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST">
                                            <div class="form-group">
                                              <label for="add-movietheater-name" class="col-form-label">Tên rạp:</label>
                                              <input type="text" class="form-control" id="add-movietheater-name" name="movietheater-name" >
                                            </div>
                                            <div class="form-group">
                                                <label for="add-movietheater-address" class="col-form-label">Địa chỉ:</label>
                                                <input type="text" class="form-control" id="add-movietheater-address" name="movietheater-address">
                                            </div>
                                            <div class="form-group">
                                                <label for="add-movietheater-image" class="col-form-label">Image:</label>
                                                <input type="file" class="form-control" id="add-movietheater-image" accept="image/png, image/jpg, image/jpeg" name="movietheater-image">
                                            </div>
                                            <div class="form-group">
                                                <label for="add-cb-cinema-3" class="col-form-label">Loại:</label>
                                                <select class="custom-select" style="width: 100%;" id="add-cb-cinema-3">
                                                  <option value="2D">2D</option>
                                                  <option value="3D">3D</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="add-movietheater-width" class="col-form-label">Chiều dài:</label>
                                                <input type="text" class="form-control" id="add-movietheater-width" name="movietheater-width">
                                            </div>
                                            <div class="form-group">
                                                <label for="add-movietheater-height" class="col-form-label">Chiều rộng:</label>
                                                <input type="text" class="form-control" id="add-movietheater-height" name="movietheater-height">
                                            </div>
                                        </form>
                                    
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-dark" onclick="AddNewMovieTheater()">Add</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                                <!-------------------------------->
                                <!-------- Phân trang--- -->
                            <div class="col-6 grid-margin">
                                <ul class="pagination" style="margin-top: 1rem; float: right;" id="paginationMT">
                                   
                                </ul>
                            </div>
                            <!-- ----------------------- -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
window.onload = function() {
  const locationId='<%-locationId %>';
  const pageIndex=1;
  const NumPage = 0;
  const pageCurrent = 1;
  var ListMovieTheater = null;
  if(locationId!='all')
  {
    $("#location_"+locationId+'-1').attr("selected", "selected"); 
  }
  else
  {
    $("#location_0-1").attr("selected", "selected");
    $('#btnAddandDelete').empty();
  }
};


function changeLocation1(idCombobox)
{
    var LocationId = document.getElementById("cb-cinema-location-"+idCombobox).value;
    if(LocationId=='all')
    {
        location.replace('/admin/cinemamanagement');
    }
    else
    {
    //ajax
        $.ajax({
        type: "GET",
        url: "/admin/cinemamanagement/getlistcinema?locationid="+LocationId,
        contentType: "application/json",
        success: function(data){
            if(data && data!="F")
            {
                //reset option
                $('#cb-showtime-cinema-'+idCombobox).find('option').remove().end();
                if(idCombobox=='2')
                {
                  $('#cb-showtime-cinema-'+idCombobox).append('<option>Chọn rạp phim</option>');

                  const listCinema=JSON.parse(data);

                    for(var item of listCinema)
                    {
                    const id=item.id;
                    const name=item.Name;
                    $('#cb-showtime-cinema-'+idCombobox).append('<option value="'+id+'" id="cinema_'+id+'-1">'+name+'</option>');
                    }
                }
                else{
                    var locationId = document.getElementById("cb-cinema-location-1").value;
                    const listCinema=JSON.parse(data);
                    
                    //location.replace('/admin/cinemamanagement?locationid='+locationId);
                }
            }
            else
            {
                alert("Somthing error !!!");
            }
        }
        });    
    }
}
function changeLocation(idCombobox)
{
    var LocationId = document.getElementById("cb-cinema-location-"+idCombobox).value;
    $('#btnAddandDelete').empty();
    if(LocationId=='all')
    {
        $('#tableMovieTheater>tbody').empty();
        $('#paginationMT').empty();
    }
    else
    {
    //ajax
        $.ajax({
        type: "GET",
        url: "/admin/cinemamanagement/getlistcinema?locationid="+LocationId,
        contentType: "application/json",
        success: function(data){
            if(data && data!="F")
            {
                    $('#btnAddandDelete').append('<button type="button" class="btn btn-gradient-dark"  data-toggle="modal" data-target="#add-cinema"><span><i class="fa fa-plus" aria-hidden="true"></i></span>Thêm</button> <button type="button" class="btn btn-inverse-danger" onclick="DeleteMovieTheater()"> <span><i class="fa fa-trash" aria-hidden="true"></i></span> Xoá lựa chọn</button>');
                    var locationId = document.getElementById("cb-cinema-location-1").value;
                    const listCinema=JSON.parse(data);
                    ListMovieTheater = listCinema;
                    const numItemInPage = 5;
                    const lenpageMovieTheater = listCinema.length;
                    pageIndex=1;
                    var pageMovieTheater=Math.floor(lenpageMovieTheater/numItemInPage);
                    if(lenpageMovieTheater%numItemInPage>0)
                    {
                        pageMovieTheater+=1;
                    }
                    $('#paginationMT').empty();
                    if(listCinema.length!=0)
                    {   
                        NumPage = pageMovieTheater;
                        $('#tableMovieTheater>tbody').empty();
                        if(pageMovieTheater>1)
                        {
                            for(let i = 1;i<=pageMovieTheater;i++)
                            {
                                if(i==1)
                                {
                                    $('#paginationMT').append('<li class="page-item"><a style="background-color: lightgray;" class="page-link" onclick="changePage('+i+')">'+i+'</a></li>');
                                }
                                else{
                                    $('#paginationMT').append('<li class="page-item"><a class="page-link" onclick="changePage('+i+')">'+i+'</a></li>');
                                }
                            }
                            if(pageIndex < pageMovieTheater)
                            {
                                $('#paginationMT').append('<li class="page-item"><a class="page-link" onclick="changePage('+(parseInt(pageIndex)+ 1) +')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');
                            }
                        }
                        else if(pageMovieTheater==1){
                            $('#paginationMT').append('<li class="page-item"><a style="background-color: lightgray;" class="page-link" >1</a></li>')
                        }
                        if(listCinema.length>4)
                        {
                            listCinema.length = 5;
                        }
                        for(var item of listCinema)
                        {
                            $('#tableMovieTheater>tbody').append('<tr><td><input class="form-check-input" onclick="chooseMovieTheater('+item.id+')" type="checkbox" value="" id=""></td><td>'+ item.id + '</td><td>' + item.Name + '</td><td>' + item.Address +'</td><td>'+ item.Kind+ '</td><td><button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-cinema" onclick="popupEditMovieTheater('+ item.id +')"><i class="fa fa-pencil" aria-hidden="true"></i></button></td></tr>');
                        }
                        
                    }
                    else{
                        $('#tableMovieTheater>tbody').empty();
                    }
                    //location.replace('/admin/cinemamanagement?locationid='+locationId);
            }
            else
            {
                alert("Somthing error !!!");
            }
        }
        });    
    }
}
function changePage(pageMTIndex)
{
    if(pageIndex==pageMTIndex)
    {
        return;
    }
    pageIndex = pageMTIndex;
    $('#paginationMT').empty();
    $('#tableMovieTheater>tbody').empty();
    var LocationId = document.getElementById("cb-cinema-location-1").value;
    //ajax
        $.ajax({
        type: "GET",
        url: "/admin/cinemamanagement/getlistcinema?locationid="+LocationId+"&pageIndex="+pageMTIndex,
        contentType: "application/json",
        success: function(data){
            if(data && data!="F")
            {
                const listCinema=JSON.parse(data);
                ListMovieTheater=listCinema;
                if(listCinema.length!=0)
                {   
                    $('#tableMovieTheater>tbody').empty();
                    
                    for(var item of listCinema)
                    {
                        $('#tableMovieTheater>tbody').append('<tr><td><input class="form-check-input" type="checkbox" value="" onclick="chooseMovieTheater('+item.id+')" id=""></td><td>'+ item.id + '</td><td>' + item.Name + '</td><td>' + item.Address +'</td><td>'+ item.Kind+ '</td><td><button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-cinema" onclick="popupEditMovieTheater('+ item.id +')"><i class="fa fa-pencil" aria-hidden="true"></i></button></td></tr>');
                    }
                    
                    if(NumPage>1)
                    {
                        if(pageIndex>1)
                        {
                            $('#paginationMT').append('<li class="page-item"><a class="page-link" onclick="changePage('+(parseInt(pageIndex)- 1) +')" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>');
                        }
                        for(let i = 1;i<=NumPage;i++)
                        {
                            if(i==pageIndex)
                            {
                                $('#paginationMT').append('<li class="page-item"><a style="background-color: lightgray;" class="page-link" onclick="changePage('+i+')">'+i+'</a></li>');
                            }
                            else{
                                $('#paginationMT').append('<li class="page-item"><a class="page-link" onclick="changePage('+i+')">'+i+'</a></li>');
                            }
                        }
                        if(pageIndex < NumPage)
                        {
                            $('#paginationMT').append('<li class="page-item"><a class="page-link" onclick="changePage('+(parseInt(pageIndex)+ 1) +')" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>');
                        }
                    }
                    else if(NumPage==1){
                        $('#paginationMT').append('<li class="page-item"><a style="background-color: lightgray;" class="page-link" >1</a></li>')
                    }
                }
                else{
                    $('#tableMovieTheater>tbody').empty();
                }
            }
            else
            {
                alert("Somthing error !!!");
            }
        }
        });    
}

var listChooseMovieTheaterCluster=new Object();
var idMovieTheaterClusterEdit=null;

function chooseMovieTheaterCluster(id)
{
    if(!listChooseMovieTheaterCluster.hasOwnProperty(id))
        listChooseMovieTheaterCluster[id]=1; //choosen
    else
    {
        delete listChooseMovieTheaterCluster[id];
    }
}

function popupEditMovieTheaterCluster(id)
{
  '<% for(var item of MovieTheaterCluster) {%>'
    if('<%-item.id%>'==id)
    {
      $('#edit-cinema-area-name').val('<%- item.Name %>');
    }
  '<% } %>'

  idMovieTheaterClusterEdit=id; //get id movie
}

function UpdateMovieTheaterCluster()
{
  //new data to update
  var movieTheaterCluster = new Object();
  movieTheaterCluster.id = idMovieTheaterClusterEdit;
  movieTheaterCluster.Name=$('#edit-cinema-area-name').val();

  //ajax 
  $.ajax({
    type: "POST",
    url: "/admin/cinemamanagement/updatemovietheatercluster",
    contentType: "application/json",
    data: JSON.stringify({movieTheaterClusterUpdate : movieTheaterCluster}),
    dataType: 'json',
    success: function(data)
    {
      if(data=="OK")
      {
        alert('Update success');
        location.reload();
      }
      else
      {
        alert("Somthing error !!!");
      }
    }
  })
}

function DeleteMovieTheaterCluster()
{
    var listIdMovieTheaterClusterDelete= Object.keys(listChooseMovieTheaterCluster).map((key) => key);
    if(listIdMovieTheaterClusterDelete.length==0)
    {
        alert("You have not selected item");
    }
    else
    {
        //ajax
        $.ajax({
            type: "POST",
            url: "/admin/cinemamanagement/deletemovietheatercluster",
            contentType: "application/json",
            data: JSON.stringify({listIdMovieTheaterCluster : listIdMovieTheaterClusterDelete}),
            dataType: 'json',
            success: function(data)
            {
                if(data=="OK")
                {
                    alert('Delete success');
                    location.reload();
                }
                else
                {
                    alert("Somthing error !!!");
                }
            }
        })
    }
}



function AddNewMovieTheaterCluster()
{
    var movieTheaterClusterNew=new Object();
    movieTheaterClusterNew.Name=$('#cinema-movie-theater-cluster-name').val();

    //ajax 
    $.ajax({
    type: "POST",
    url: "/admin/cinemamanagement/addmovietheatercluster",
    contentType: "application/json",
    data: JSON.stringify({movieTheaterClusterNew : movieTheaterClusterNew}),
    dataType: 'json',
    success: function(data)
    {
      if(data=="OK")
      {
        alert('Add success');
        location.reload();
      }
      else
      {
        alert("Somthing error !!!");
      }
    }
  })
}

/*----------------------------------------------MovieTheaterCluster --------------------------------*/
var listChooseMovieTheater=new Object();
var idMovieTheaterEdit=null;

function chooseMovieTheater(id)
{
    if(!listChooseMovieTheater.hasOwnProperty(id))
        listChooseMovieTheater[id]=1; //choosen
    else
    {
        delete listChooseMovieTheater[id];
    }
}


function DeleteMovieTheater()
{
    var listIdMovieTheaterDelete = Object.keys(listChooseMovieTheater).map((key) => key);
    if(listIdMovieTheaterDelete.length==0)
    {
        alert("You have not selected item");
    }
    else
    {
        //ajax
        $.ajax({
            type: "POST",
            url: "/admin/cinemamanagement/deletemovietheater",
            contentType: "application/json",
            data: JSON.stringify({listIdMovieTheater : listIdMovieTheaterDelete}),
            dataType: 'json',
            success: function(data)
            {
                if(data=="OK")
                {
                    alert('Delete success');
                    location.reload();
                }
                else
                {
                    alert("Somthing error !!!");
                }
            }
        })
    }
}

function popupEditMovieTheater(id)
{
    for(var item of ListMovieTheater) 
    {
        if(item.id==id)
        {
         
            var arrayBufferView = new Uint8Array(item.Image.data);
            var blob = new Blob([arrayBufferView], { type: "image/jpeg" });
            var urlCreator = window.URL || window.webkitURL;
            var imageUrl = urlCreator.createObjectURL(blob);
            var img = document.querySelector("#edit-movietheater-image");
            img.src = imageUrl;

           
            $('#edit-movietheater-name').val(item.Name);
            $('#edit-movietheater-address').val(item.Address);
            //document.getElementById('edit-movietheater-image').src = URL.createObjectURL(
              //  new Blob([aaa.buffer], { type: 'image/png' } /* (1) */)
            //);
            
            $('#add-cb-cinema-4').val(item.Kind);
            $('#edit-movietheater-width').val(item.Width);
            $('#edit-movietheater-height').val(item.Height);
        }
   } 

  idMovieTheaterEdit=id; //get id movie

  $("#edit-movietheater-image-i").change(function (){
    const fileImage=$('#edit-movietheater-image-i').val().replace(/C:\\fakepath\\/i, '/images/');
    if(fileImage!='') // change
    {
      $('#edit-movietheater-image').attr('src',fileImage);
    }
  });
}

function AddNewMovieTheater()
{
    var movieTheaterNew =new Object();
    movieTheaterNew.Name=$('#add-movietheater-name').val();
    movieTheaterNew.Address=$('#add-movietheater-address').val();
    movieTheaterNew.Image=$('#add-movietheater-image').val().replace(/C:\\fakepath\\/i, '/images/');
    movieTheaterNew.Kind = $('#add-cb-cinema-3').val();
    movieTheaterNew.Width=$('#add-movietheater-width').val();
    movieTheaterNew.Height=$('#add-movietheater-height').val();
    movieTheaterNew.MovieTheaterClusterId = $('#cb-cinema-location-1').val();
    //ajax 
    $.ajax({
    type: "POST",
    url: "/admin/cinemamanagement/addmovietheater",
    contentType: "application/json",
    data: JSON.stringify({movieTheaterNew : movieTheaterNew}),
    dataType: 'json',
    success: function(data)
    {
      if(data=="OK")
      {
        alert('Add success');
        location.reload();
      }
      else
      {
        alert("Somthing error !!!");
      }
    }
  })
}

function UpdateMovieTheater()
{
  //new data to update
    var movieTheater= new Object();
    movieTheater.id = idMovieTheaterEdit;
    movieTheater.Name=$('#edit-movietheater-name').val();
    movieTheater.Address=$('#edit-movietheater-address').val();
    movieTheater.Image=$('#edit-movietheater-image').val().replace(/C:\\fakepath\\/i, '/images/');
    movieTheater.Kind = $('#add-cb-cinema-4').val();
    movieTheater.Width=$('#edit-movietheater-width').val();
    movieTheater.Height=$('#edit-movietheater-height').val();

  //ajax 
  $.ajax({
    type: "POST",
    url: "/admin/cinemamanagement/updatemovietheater",
    contentType: "application/json",
    data: JSON.stringify({movieTheaterUpdate : movieTheater}),
    dataType: 'json',
    success: function(data)
    {
      if(data=="OK")
      {
        alert('Update success');
        location.reload();
      }
      else
      {
        alert("Somthing error !!!");
      }
    }
  })
}
</script>